{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <h2 class="text-uppercase text-center border-black">Opening Times</h2>
        <div class="row">
            <div class="col-12 col-lg-6 border-black">
                <h5 class="text-center pt-3">Bar</h5>
                <hr width="60%">
                <strong>Weekdays</strong>
                {{ opening_time.weekday_opening }}
            </div>
            <div class="col-12 col-lg-6 border-black">
                <h5 class="text-center pt-3">Food</h5>
                <hr width="60%">
                <strong>Weekdays</strong>
            </div>
        </div>

    </div>
{% endblock %}