html {
    height: 100%;
}

body {
    color: #555;
    font-family: 'Roboto Slab';
    background-color: aliceblue;
}

.hero {
    height: calc(100vh - 164px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Shizuru';
}

.main-logo-link {
    width: fit-content;
    text-decoration: none;
    color: #555;
    letter-spacing: 6px;
}

.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
    border-bottom: 1px ridge #0EBFE9;
}

.buy-now-button {
    background: aliceblue;
    color: #555;
    border: 1px solid #555 !important;
}

.btn-blue {
    background: aliceblue;
    color: #555;
    border: 1px solid #555 !important;
}

.buy-now-button:hover,
.buy-now-button:active,
.buy-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #0EBFE9	;
    color: #555;
}

.search-icon:hover {
    color: #0EBFE9;
}

.text-black {
    color: #555 !important;
}

.text-blue {
    color: #0EBFE9 !important;
}

.border-blue {
    border: 1px solid #0EBFE9	 !important;
}

.bg-blue {
    background: aliceblue !important;
}

.bg-black {
    background: #555 !important;
}

.border-black {
    border: 1px solid #555 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }